---
import Link from "@/components/Link.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---
<RootLayout title="Not Found">
    <div class="flex flex-col items-start justify-start md:mt-24 md:flex-row md:items-center md:justify-center md:space-x-6">
        <div class="space-x-2 pb-8 pt-6 md:space-y-5">
            <h1 class="text-6xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 md:border-r-2 md:px-6 md:text-8xl md:leading-14">
                404
            </h1>
        </div>
        <div class="max-w-md">
            <p class="mb-4 text-xl font-bold leading-normal md:text-2xl">
                No existeix la pàgina
            </p>
            <p class="mb-8">But dont worry, you can find plenty of other things on our homepage.</p>
            <Link
                    href="/"
                    class="focus:shadow-outline-blue inline rounded-lg border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium leading-5 text-white shadow transition-colors duration-150 hover:bg-blue-700 focus:outline-none dark:hover:bg-blue-500"
            >
                Back to homepage
            </Link>
        </div>
    </div>
</RootLayout>
