---
import { Image } from "astro:assets";
import { FOTOS } from "@/consts";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
<div class="grid grid-cols-4 gap-4">
  {FOTOS.map(a => (
    <div>
    <Image style="padding: 1em"
      src={a.href}
      alt="descriptive text"
      width={a.width}
      height={a.height}
    />
    </div>
  ))}
</div>
</RootLayout>
