---
import {getCollection} from "astro:content";

import {SITE_METADATA, ITEMS_PER_PAGE} from '@/consts';
import RootLayout from "@/layouts/RootLayout.astro";
import Link from "@/components/Link.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Tag from "@/components/Tag.astro";
import {excludeDrafts, sortBlogPosts} from "@/functions";
import Calendari from "@/components/Calendari.astro";
import Partits from "@/components/Partits.astro";
import ProximPartit from "@/components/ProximPartit.astro";
import PlayerCard from "@/components/PlayerCard.astro";

const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
---

<RootLayout title={SITE_METADATA.title} description={SITE_METADATA.description}>
        <div class="space-y-2 pb-8 pt-6 md:space-y-5">
            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
            Pròxim Partit
            </h1>
        </div>
        <ProximPartit/>
    <div class=""> <!--  divide-y divide-gray-200 dark:divide-gray-700 -->
        <div class="space-y-2 mt-4 pb-8 pt-6 md:space-y-5">
            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
                Cròniques
            </h1>
        </div>
         <ul class=""> 
            {!posts.length && 'No posts found.'}
            {posts.filter(p => !p.data.draft).slice(0, ITEMS_PER_PAGE).map((post) => {
                const {date, title, summary, draft} = post.data;
                return (
                        <li class="pb-12">
                            <article>
                                <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                                    <dl>
                                        <dt class="sr-only">Published on</dt>
                                        <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                                            <FormattedDate date={date}/>
                                        </dd>
                                    </dl>
                                    <div class="space-y-5 xl:col-span-3">
                                        <div class="space-y-1">
                                            <div>
                                                <h2 class="text-2xl font-bold leading-8 tracking-tight">
                                                    <Link href={`/blog/${post.slug}`}
                                                          class="text-gray-900 dark:text-gray-100">
                                                        {title}
                                                    </Link>
                                                </h2>
                                            </div>
                                            <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                                                {summary}
                                            </div>
                                        </div>
                                        <div class="text-base font-medium leading-6">
                                            <Link
                                                    href={`/blog/${post.slug}`}
                                                    class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                                                    aria-label={`Read "${title}"`}
                                            >
                                                Read more &rarr;
                                            </Link>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                )
            })}
        </ul>
    </div>
    {posts.length > ITEMS_PER_PAGE && (
            <div class="flex justify-end text-base font-medium leading-6">
                <Link
                        href="/blog"
                        class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                        aria-label="All posts"
                >
                    All Posts &rarr;
                </Link>
            </div>
    )}
</RootLayout>
