---
import TecniquesComp from "@/components/Tecniques.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Tècniques">
    <TecniquesComp></TecniquesComp>
</RootLayout>
