---
import '@/styles/global.css';
import {PARTITS_FULL, EQUIPS, DATE_OPTIONS} from "@/consts";

const winRowColor = "bg-green-500 text-slate-950";
const loseRowColor = "bg-red-400 text-slate-950";

function getTableVisibility(idx:number) {
    console.log(idx);
    return true;
}
---

{PARTITS_FULL
.map((jornada, num) => (

    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <div class="relative overflow-x-auto space-y-2 shadow-md sm:rounded-lg">
        <table  class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="input toggle">
                    <th scope="col"class="px-6 py-2 bg-gray-50 dark:bg-gray-800 input toggle">
                        <div>Jornada {num+1}</div>
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800"></th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        {jornada.dates.min.toLocaleDateString()+" - "+jornada.dates.max.toLocaleDateString()}
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Resultat</th>
                    <th hidden='true' id={'res2'+num} class={(jornada.guanyat ? winRowColor : loseRowColor)+" px-2"}>{jornada.resultat}</th>
                </tr>
            </thead>
            <tbody id={"table"+num}>
                {jornada.partits.map((p) => (
                    (p.equipVis == EQUIPS.Globertorpes || p.equipLocal == EQUIPS.Globertorpes) ?
                    <tr class={jornada.guanyat ? winRowColor : loseRowColor}>
                        <td class="px-6 py-2">{p.equipLocal}</td>
                        <td class="px-6 py-2">{p.equipVis}</td>
                        <td class="px-6 py-2">{p.data.toLocaleString('es-ES', DATE_OPTIONS)}</td>
                        <td class="px-6 py-2">{jornada.resultat}</td>
                    </tr>
                    :
                    <tr>
                        <td class="px-6 py-2">{p.equipLocal}</td>
                        <td class="px-6 py-2">{p.equipVis}</td>
                        <td class="px-6 py-2">{p.data.toLocaleString('es-ES', DATE_OPTIONS)}</td>
                    </tr>
                ))}
            </tbody>
        </table>
    </div>
    </div>  
))}

<script>
    const btns = document.querySelectorAll('input.toggle');

    btns.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            const id = parseInt(e.target.id.split('btn')[1]);
            let table = document.getElementById('table'+id);
            table.hidden = !table.hidden;
            let res2 = document.getElementById('res2'+id);
            res2.hidden = !res2.hidden
        })
    })
</script>