---
import '@/styles/global.css';
import {DATE_OPTIONS, PARTITS_GLOB, EQUIPS} from "@/consts";


const winTextColor = "text-green-500 dark:text-green-500";
const loseTextColor = "text-red-400 dark:text-red-400";
const bgColor1 = " bg-gray-50 dark:bg-gray-800 "
const bgColor2 = " bg-gray-50 dark:bg-gray-900 "

function getResultColor(status:boolean, date:Date) {
    const curDate = new Date();
    if(date < curDate)
    {
        return status ? winTextColor : loseTextColor;
    }
    return "";
}

function getPartitResultats(jornada:Object) {
    var res = '';
    let puntsGlob = jornada.puntsGlob > 0 ? jornada.puntsGlob : '';
    let puntsAltre = jornada.puntsAltre > 0 ? jornada.puntsAltre : '';
    if(jornada.partitLocal){
        res = EQUIPS.Globertorpes + ' ' + puntsGlob  + ' - ' + puntsAltre + ' ' + jornada.equipAltre;
    }
    else {
        res = jornada.equipAltre + ' ' + puntsAltre + ' - ' + puntsGlob + ' ' + EQUIPS.Globertorpes;
    }

    return res;
}

function getBGColor(idx:number) {
    if(idx % 2 == 0)
        return bgColor1;
    else
        return bgColor2;
}
---

<div class="border-solid border-4 border-cyan-800">
    {
        PARTITS_GLOB.map((jornada, num) => (
            <table class="w-full flex-col p-6 columns-3 table-fixed text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class={"text-s text-gray-700 uppercase dark:text-gray-400"}>
                <tr>
                    <th scope="col"class={"px-2 py-3 dark:text-gray-400 "+getBGColor(num)}>
                        <div>Jornada {num+1}</div>
                    </th>
                    <th scope="col" class={"px-2 py-3 dark:text-gray-400 "+getBGColor(num)}>
                        {jornada.data.toLocaleString('es-ES', DATE_OPTIONS)}
                    </th>
                    <th scope="col" class={"px-10 py-3 w-2/5 text-center dark:text-gray-400 "+getResultColor(jornada.puntsGlob > jornada.puntsAltre, jornada.data)+getBGColor(num)}>
                        {getPartitResultats(jornada)}
                    </th>
                </tr>
            </thead>
            </table>
        ))
    }