---
import { PARTITS_GLOB, DATE_OPTIONS, EQUIPS } from "@/consts";

const clamp = (num, min, max) => Math.min(Math.max(num, min), max);

function getPartit(bLastPlayed:boolean){
    const curDate = new Date();
    var partit = PARTITS_GLOB[0];

    for(var i=0;i<PARTITS_GLOB.length;i++){
        if(bLastPlayed)
        {
            if(PARTITS_GLOB[i].data < curDate)
                partit = PARTITS_GLOB[i];
            else
                return partit;
        } else {
            if(PARTITS_GLOB[i].data >= curDate)
                return PARTITS_GLOB[i];
        }        
    }
    return partit;
}

function getLastPartitString(partit:object){
    var returnStr = '';
    const curDate = new Date();
    if(partit.data > curDate){
        if(partit.partitLocal){
            returnStr = EQUIPS.Globertorpes + ' VS ' + partit.equipAltre + ' | ' + partit.data.toLocaleString('es-ES', DATE_OPTIONS);
        } else {
            returnStr = partit.equipAltre + ' VS ' + EQUIPS.Globertorpes + ' | ' + partit.data.toLocaleString('es-ES', DATE_OPTIONS);
        }
    } else {
        if(partit.partitLocal){
            returnStr = EQUIPS.Globertorpes + ' ' + partit.puntsGlob + ' - ' + partit.puntsAltre + ' ' + partit.equipAltre + ' | ' + partit.data.toLocaleString('es-ES', DATE_OPTIONS);
        } else {
            returnStr = partit.equipAltre + ' ' + partit.puntsAltre + ' - ' + partit.puntsGlob + ' ' + EQUIPS.Globertorpes + ' | ' + partit.data.toLocaleString('es-ES', DATE_OPTIONS);
        }
    }
    return returnStr;
}
---
<div class="columns-2">
    <h2 class="text-2xl font-bold leading-8 tracking-tight">
        <div class="text-gray-900 dark:text-gray-100">
            Ùltim Partit 
        </div>
    </h2>
    <p>{getLastPartitString(getPartit(true))}</p>

    <h2 class="text-2xl font-bold leading-8 tracking-tight">
        <div class="text-gray-900 dark:text-gray-100">
            Pròxim Partit
        </div>
    </h2>
    <p>{getLastPartitString(getPartit(false))}</p>
    
</div>  