---
import '@/styles/global.css';
import {JUGADORS} from "@/consts";
---

<div class="relative overflow-x-visible shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">#</th>
                <th scope="col" class="px-6 py-3">Jugador</th>
                <th scope="col" class="px-6 py-3">Tècniques</th>
                <th scope="col" class="px-6 py-3">Antiesportives</th>
                <th scope="col" class="px-6 py-3">Expulsions</th>
                <th scope="col" class="px-6 py-3">🍻</th>
            </tr>
        </thead>
        <tbody>
            {JUGADORS.sort((j1,j2) => j2.tecniques.tec - j1.tecniques.tec 
                || j2.tecniques.anti - j1.tecniques.anti).map(j => (
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">{j.number}</td>
                <td class="px-6 py-4">{j.name}</td>
                <td class="px-6 py-4">{j.tecniques.tec}</td>
                <td class="px-6 py-4">{j.tecniques.anti}</td>
                <td class="px-6 py-4">{j.tecniques.exps}</td>
                <td class="px-6 py-4">{j.tecniques.tec + j.tecniques.anti}</td>
            </tr>
            ))}
        </tbody>
    </table>
</div>
